
<div class="container-fluid">
<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    + Add task
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Task Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form >
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Title</label>
              <input type="text" class="form-control form-control-sm"  name="name" [(ngModel)]="todoList.title">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Description</label>
              <input type="text" class="form-control form-control-sm"  [(ngModel)]="todoList.description" [ngModelOptions]="{standalone: true}" >
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Status</label>
              <select class="form-select form-select-sm">
                <option *ngFor="let type of taskStatus | keyvalue" [ngValue]="type.value">{{type.value}}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary" (click)="submitMethod()">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
